version: '1.1.0-beta{build}'
configuration:
#  - Debug
  - Release

build_script:
  - dotnet build
  - dotnet msbuild #/p:Configuration=Release
  - nuget install xunit.runner.console -Version 2.3.1 -OutputDirectory testrunner
  - testrunner/xunit.runner.console.2.3.1/tools/net452/xunit.console.exe ./SomeTests/bin/Release/net452/SomeTests.dll

test_script:
  - dotnet test SomeTests --framework netcoreapp2.0
  - dotnet test SomeTests --framework net452
